body.admin {
  height: 100%;
  background-image: url(../assets/img/achtergrond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.divcards{
  text-align: center;
}