{% extends 'base/layout.twig' %}

{% block body %}
    {% include 'admin/sidebar.twig' %}

    <div class="container">
        <h1>Analytics</h1>

        <br>
        <h2>Aantal designs per locatie</h2>
        <canvas id="location-data"></canvas>

        <br>
        <h2>Thema statistieken</h2>
        <canvas id="thema-data"></canvas>

{#        <br>#}
{#        <h2>Meest gebruikte elementen</h2>#}
{#        <canvas id="element-data"></canvas>#}

        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="module" src="/scripts/admin/charts/main.js"></script>

{% endblock %}