{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

    <div class="container" id="container">
        <h1>Ontwerpen Overzicht</h1>
        <p>Hier vindt u een overzicht van de ingestuurde ontwerpen</p>
        <small><strong>Er zijn in totaal <span id="design-count">x</span> ontwerpen gemaakt</strong></small>

        <div class="design-container" id="design-container">

        </div>
    </div>

    <script type="module" src="/scripts/admin/designs-overview/DesignsOverview.js"></script>

{% endblock %}