{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

    <div style="margin-left:285px">
        <h2>Ingestuurde  ontwerpen</h2>
        <p>Hier vindt u een overzicht van de ingestuurde ontwerpen:</p>


    </div>

{% endblock %}