{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

    <div class="container" style="margin-left:285px">

        <h1>Locaties Dashboard</h1>
            <div id="cardGallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            </div>

    </div>


{% endblock %}

{% block scripts %}
<script src='/scripts/admin/location-overview/location-overview.js'></script>
{% endblock %}
