{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

<div class="container">

    <h2>Overzicht van de locaties</h2>

    <p>Klik op de knop om een locatie toe te voegen.</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#locatieModal">Locatie toevoegen</button><br>

    <div id="locatiesDiv">
        <div id="cardGallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>

    <div id="popup">
            <img src="" alt="" id="selectedImage">
            <div id="popup-box">
                
            </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="locatieModal" tabindex="-1" role="dialog" aria-labelledby="locatieModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Locatie toevoegen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" action="/api/locations">
                        <p>Hieronder kunt u een locatie toevoegen.<br></p>
                        <div class="form-group">
                            <label for="naam" class="col-form-label" >Locatie naam: </label><br>
                            <input type="text" name="naam" id="naam" placeholder="Beurs" class="form-control" required><br>
                        </div>
                        <div class="form-group">
                            <label for="fileToUpload" class="col-form-label" >Kies een afbeelding:</label><br>
                            <input type="file" name="fileToUpload" id="fileToUpload" class="form-control" required><br><br>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Toevoegen" name="submit" id="submit" class="form-control" style="background-color: #198754;color: white;"><br>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>
</div>

{#    <script>#}
{#        document.getElementById('submit').addEventListener('click', () => {#}
{#            const data = {#}
{#                'naam': document.getElementById('naam').value,#}
{#                'fileToUpload': document.getElementById('fileToUpload').files[0]#}
{#            }#}

{#            console.log(data.fileToUpload)#}


{#            fetch('/api/locations',#}
{#                {#}
{#                    method: "post",#}
{#                    headers: {'Content-Type': 'application/json'},#}
{#                    body: JSON.stringify(data)#}
{#                }#}
{#            )#}
{#                .then(() => alert('element is opgeslagen'))#}
{#        })#}
{#    </script>#}


<script src='/scripts/admin/location-overview/location-overview.js'></script>

{% endblock %}