{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

    <div class="container">

        <h1>Locaties Dashboard</h1>

        <div>
            <p>Test text</p>
        </div>

    </div>

{% endblock %}