{% extends 'base/layout.twig' %}

{% block body %}

    <!--HTML form for loggin in-->
    <div class="form-signin" style="text-align: center;">
            <img class="mb-4" src="/assets/img/MIR-Logo.jpg" alt="Logo" width="auto" height="60">
            <h1 class="h3 mb-3 fw-normal">Log In</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="email" placeholder="admin" name="email" required>
                <label for="floatingInput">E-mailadres</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="wachtwoord" placeholder="Password" name="wachtwoord" required>
                <label for="floatingPassword">Wachtwoord</label>
            </div>
            <div class="form-group">
                <input type="checkbox" onclick="showPass()" id="checkpass">
                <label for="checkpass" class="col-form-label">Toon wachtwoord</label><br>
            </div>

            <button class="w-100 btn btn-lg btn-success" id="login-button" type="submit" name="LoginButton">Log In</button>

            <p class="d-none text-danger" id="fout">Uw gegevens kloppen niet</p>

            <p class="mt-5 mb-3 text-muted">MiRotterdam - 2021</p>
    </div>

    <script>
        //Function to show a password by given element id in this case wachtwoord.
        function showPass() {
            var x = document.getElementById("wachtwoord"); //Get the element by id.
            if (x.type === "password") { //Check the type of element. If password then change to text to show.
                x.type = "text";
            } else { //If the type is text then change it back to password.
                x.type = "password";
            }
        }

        ////Eventlistener for button in the modal, registers a click on the button.
        document.getElementById('login-button').addEventListener('click', () => {
            //Creates JSON data with the data filled in, in the form.
            const data = {
                'wachtwoord': document.getElementById('wachtwoord').value,
                'email': document.getElementById('email').value
            }

            //Fetch function with post method to the api, this is to check if the user is in the database.
            //JSON data is given in the body.
            fetch('/admin', {
                method: "post",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
                .then(data => data.json()) //Convert the retrieved data to JSON format.
                .then(json => {
                    if (json.data === false){
                        //Retrieved data is false, so the user is not in the database.
                        document.getElementById('fout').classList.remove('d-none') //Removes the class d-none to show error message on the page.
                    }
                    else {
                        //User is in the database, navigate user to the home page of admin.
                        window.location.href = '/admin/dashboard'
                    }
                })
        })
    </script>

{% endblock %}