<script>
    //Functie om uit te loggen.
    function callLogout(){
        window.open("/admin","_self");
    }
</script>

<!--Hieronder staat de navbar code, links bevindt zich het logo van het project.-->
<nav class="d-flex flex-column flex-shrink-0 p-3 bg-light h-100" style="width: 280px; z-index: 1000;">
    <a href="/admin/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/admin/dashboard" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Home
            </a>
        </li>
        <li>
            <a href="/admin/ontwerpen-overzicht" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Ontwerpen
            </a>
        </li>
        <li>
            <a href="/admin/locaties-dashboard" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Locaties
            </a>
        </li>
        <li>
            <a href="/admin/elementen-dashboard" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Elementen
            </a>
        </li>
        <li>
            <a href="/admin/gebruikers" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                Gebruikers
            </a>
        </li>
        <li>
            <a class="nav-link link-dark" href="/admin/analytics" data-bs-toggle="modal" data-bs-target="#loguitModal" >
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Analytics
            </a>
        </li>
        <li>
            <a class="nav-link link-dark" href="login.twig" data-bs-toggle="modal" data-bs-target="#loguitModal" >
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                Uitloggen
            </a>
        </li>
    </ul>
</nav>

<!-- Modal voor het uitloggen Popupvenster -->
<div class="modal fade" id="loguitModal" tabindex="-1" role="dialog" aria-labelledby="loguitModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Uitloggen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u wilt uitloggen?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Nee</button>
                <button type="button" class="btn btn-success" onclick="callLogout()">Ja</button>
            </div>
        </div>
    </div>
</div>
