{% extends 'base/layout.twig' %}

{% block body %}

    {% include 'admin/sidebar.twig' %}

    <div class="container">
        <h2>Gebruikers</h2>

        <p>Klik op de knop om een gebruiker toe te voegen.</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#gebruikerModal">Gebruiker toevoegen</button><br>

        <p>Hier vindt u een overzicht van de gebruikers:</p>

        <div id="gebruikersDiv"></div>

        <!-- Modals -->
        <div class="modal fade" id="gebruikerModal" tabindex="-1" role="dialog" aria-labelledby="gebruikerModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Gebruiker toevoegen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form method="post" enctype="multipart/form-data" action="/api/users">
                            <p>Hieronder kunt u een gebruiker toevoegen.<br></p>
                            <div class="form-group">
                                <label for="naam" class="col-form-label" >Gebruikersnaam: </label>
                                <input type="text" name="naam" id="naam" placeholder="Elisa" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label" >Email: </label><br>
                                <input type="text" name="email" placeholder="voorbeeld@gmail.com" class="form-control" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="wachtwoord1" class="col-form-label" >Wachtwoord: </label><br>
                                <input type="password" id="wachtwoord1" name="wachtwoord1" placeholder="wachtwoord" class="form-control" required>
                                <input type="checkbox" onclick="showPass('wachtwoord1')" id="checkpass">
                                <label for="checkpass" class="col-form-label">Toon wachtwoord</label><br>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Toevoegen" name="addUser" id="addUser" class="form-control" style="background-color: #198754;color: white;"><br>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

        //Zorgt ervoor dat wanneer de knop aangeklikt is de inhoud uitgevoerd wordt.
        document.getElementById('addUser').addEventListener('click', () => {

            //JSON data aanmaken met de gegevens uit de form.
            const data = {
                'naam': document.getElementById('naam').value,
                'email': document.getElementById('email').value,
                'wachtwoord1': document.getElementById('wachtwoord1').value
            }

            //Fetch functie hiermee worden de gegevens uit data gegeven aan user.js en dan de post method
            fetch('/api/users',
                {
                    method: "post",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }
            )
        })


        fetch('/api/users') //haalt de gebruikers data op
            .then(result => result.json()) //Data converteren naar JSON
            .then(json => toonOpDashboard(json)) //Toont JSON in html pagina div

        function deleteUser ($userID){
            console.log("Delete user clicked")
            console.log($userID)
        }

        //Functie om alle gebruikers te tonen op het dashboard
        function toonOpDashboard(gebruikers){
            let locatiesHTML = "<table class='table' ><tr><th scope='col'>ID:</th><th scope='col'>Gebruikersnaam:</th><th scope='col'>Email:</th><th scope='col'>Wachtwoord:</th><th scope='col'>Verwijderen:</th></tr>"   //variabel waar alle html in komt

            gebruikers.forEach(gebruiker => { //loop over alle locaties
                //Maakt een nieuwe html element aan met gebruikers data in een table
                locatiesHTML += `
                <tr><td>${gebruiker.id}</td><td>${gebruiker.Gebruikersnaam}</td><td>${gebruiker.email}</td><td>${gebruiker.Wachtwoord}</td><td><a class='btn btn-md btn-danger' type="submit" onclick="deleteUser(${gebruiker.id})" id="verwijderBtn">Verwijderen</a></td></tr>
            `
            })

            //Zet alle data in de html div dmv
            document.getElementById('gebruikersDiv').innerHTML += locatiesHTML
        }

        function showPass($id) {
            var x = document.getElementById($id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

{% endblock %}