{% extends 'base/layout.twig' %}

{% block body %}
    <div class="element-editor" id="element-editor">
        <h2>Aanpassen</h2>

        <div class="editor-attribute-choices">
            <span id="choice-size" class="highlighted">Grootte</span>
            <span id="choice-color">Kleur</span>
            <span id="choice-mirror">Spiegelen</span>
        </div>

        <div class="attribute-editor">
            <div class="scale-slider-container shown" id="scale-slider-container">
                <label for="scale-slider">
                    <input type="range" class="scale-slider" id="scale-slider">
                </label>
            </div>

            <div class="color-choices-container" id="color-choices-container">
                <!-- This inline styling is used for a javascript function -->
                <!-- This way, the CSS 'filter' property can be extracted from these button via the JS 'style' property,
                            which would not be possible when using CSS classes -->
                <button style="filter: hue-rotate(40deg)"></button>
                <button style="filter: hue-rotate(90deg)"></button>
                <button style="filter: hue-rotate(150deg)"></button>
                <button style="filter: hue-rotate(270deg)"></button>
                <button style="filter: hue-rotate(240deg)"></button>
                <button style="filter: hue-rotate(180deg)"></button>
            </div>
        </div>
    </div>

    <div class="elements-menu-container" id="elements-menu-container">
        <div class="theme-picker" id="theme-picker">
            <span>Wat wil jij toevoegen aan jouw omgeving?</span>

            <div class="theme-container spel-sport">
                <div class="theme-menu-dropdown collapse" id="menu-spelsport"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-spelsport"
                        aria-expanded="false">
                    Spel & Sport
                </button>
            </div>

            <div class="theme-container groen">
                <div class="theme-menu-dropdown collapse" id="menu-groen"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-groen"
                        aria-expanded="false">
                    Groen
                </button>
            </div>

            <div class="theme-container ontspanning">
                <div class="theme-menu-dropdown collapse" id="menu-ontspanning"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-ontspanning"
                        aria-expanded="false">
                    Ontspanning
                </button>
            </div>

            <div class="theme-container veilig">
                <div class="theme-menu-dropdown collapse" id="menu-veilig"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-veilig"
                        aria-expanded="false">
                    Veilig
                </button>
            </div>
        </div>
        <div class="blur-out">
            <button class="close-elements-menu" id="close-elements-menu">
                <i class="bi bi-x-circle-fill"></i>
            </button>
        </div>
    </div>

    <div id="canvas" class="canvas"></div>

    <div class="options" id="options">
        <button class="option-button elements-menu-button" id="elements-menu-button">
            <i class="bi bi-plus-circle"></i>
        </button>

        <button class="option-button delete-button" id="delete-button" disabled>
            <i class="bi bi-trash"></i>
        </button>

        <button class="option-button ok-button" id="ok-button">
            <i class="bi bi-send"></i>
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/Draggable.min.js"></script>
    <script type="module" src="scripts/design-maker/scripts.js"></script>
{% endblock %}
