{% extends 'layout.twig' %}

{% block body %}
    <div class="element-editor" id="element-editor">
        <h2>Aanpassen</h2>

        <div class="editor-attribute-choices">
            <span id="choice-size" class="highlighted">Grootte</span>
            <span id="choice-color">Kleur</span>
            <span id="choice-mirror">Spiegelen</span>
        </div>

        <div class="attribute-editor">
            <div class="scale-slider-container shown" id="scale-slider-container">
                <label for="scale-slider" class="scale-slider-label">
                    <input type="range" class="scale-slider" id="scale-slider">
                </label>
            </div>

            <div class="color-choices-container" id="color-choices-container">
                <!--        This inline styling is used for a javascript function -->
                <!--        This way, the CSS 'filter' property can be extracted from these button via the JS 'style' property,
                            which would not be possible when using CSS classes -->
                <button style="filter: hue-rotate(40deg)"></button>
                <button style="filter: hue-rotate(90deg)"></button>
                <button style="filter: hue-rotate(150deg)"></button>
                <button style="filter: hue-rotate(270deg)"></button>
                <button style="filter: hue-rotate(240deg)"></button>
                <button style="filter: hue-rotate(180deg)"></button>
            </div>
        </div>
    </div>

    <div class="elements-menu-container">
        <h2>Bibliotheek</h2>

        <div class="theme-picker" id="theme-picker">
            <h3>Wat wil jij toevoegen aan jouw omgeving?</h3>

            <div class="theme-container spel-sport">
                <div class="theme-menu-dropdown collapse" id="menu-spelsport"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-spelsport"
                        aria-expanded="false">
                    Spel & Sport
                </button>
            </div>

            <div class="theme-container groen">
                <div class="theme-menu-dropdown collapse" id="menu-groen"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-groen"
                        aria-expanded="false">
                    Groen
                </button>
            </div>

            <div class="theme-container ontspanning">
                <div class="theme-menu-dropdown collapse" id="menu-ontspanning"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-ontspanning"
                        aria-expanded="false">
                    Ontspanning
                </button>
            </div>

            <div class="theme-container veilig">
                <div class="theme-menu-dropdown collapse" id="menu-veilig"></div>
                <button class="btn btn-light dropdown-toggle" data-toggle="collapse" data-target="#menu-veilig"
                        aria-expanded="false">
                    Veilig
                </button>
            </div>
        </div>
    </div>

    <div id="canvas" class="canvas"></div>

    <div class="options" id="options">

        <button class="option-button elements-menu-button" id="elements-menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>

        <button class="option-button delete-button" id="delete-button" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-trash"
                 viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>

        <button class="option-button ok-button" id="ok-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-send"
                 viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
            </svg>
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/Draggable.min.js"></script>
    <script type="module" src="/scripts/design-maker/scripts.js"></script>
{% endblock %}
