{% extends 'layout.twig' %}

{% block body %}
    <div class="element-editor" id="element-editor">
        <h2>Aanpassen</h2>

        <div class="editor-attribute-choices">
            <span id="choice-size" class="highlighted">Grootte</span>
            <span id="choice-color">Kleur</span>
            <span id="choice-mirror">Spiegelen</span>
        </div>

        <div class="attribute-editor">
            <div class="scale-slider-container shown" id="scale-slider-container">
                <label for="scale-slider" class="scale-slider-label">
                    <input type="range" class="scale-slider" id="scale-slider">
                </label>
            </div>

            <div class="color-choices-container" id="color-choices-container">
                <div class="color-button blue" id="color-choice-green"><span></span></div>
                <div class="color-button red" id="color-choice-blue"><span></span></div>
                <div class="color-button orange" id="color-choice-yellow"><span></span></div>
                <div class="color-button lavender" id="color-choice-green"><span></span></div>
                <div class="color-button purple" id="color-choice-blue"><span></span></div>
                <div class="color-button yellow" id="color-choice-yellow"><span></span></div>
                <div class="color-button green" id="color-choice-yellow"><span></span></div>
            </div>
        </div>
    </div>

    <div class="elements-menu-container">
        <h2>Bibliotheek</h2>
        <div class="elements-menu" id="elements-menu"></div>
    </div>

    <div id="canvas" class="canvas"></div>

    <div class="options" id="options">
        <button class="option-button elements-menu-button" id="elements-menu-button"></button>
        <button class="option-button attribute-menu-button" id="attribute-menu-button" disabled></button>
        <button class="option-button ok-button" id="ok-button"></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/Draggable.min.js"></script>
    <script src="/scripts/design-maker/menu-slider.js"></script>
    <script type="module" src="/scripts/design-maker/scripts.js"></script>
{% endblock %}
