{% extends 'base/layout.twig' %}

{% block body %}
    <header id="header" class="fixed-top ">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
                    <h1 class="logo me-auto me-lg-0"><a href="index.twig">MiRotterdam</a></h1>
                    <!-- <a href="index.twig" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto" href="#">Admin</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#" class="get-started-btn scrollto">De gemeente</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>MiRotterdam - Gemeente project</h1>
                    <h2>Je leeftomgeving verbeteren door deze zelf te ontwerpen</h2>
                    <a href="#about" class="play-btn mb-4"></a>
                </div>
            </div>
        </div>
    </section>

    <main id="main">

        <!-- About Us Section -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Het project</h2>
                    <p>MIRotterdam is een beleving ontworpen voor jongeren van 12 tot 18 in Reyeroord. Het concept
                        bestaat
                        uit een combinatie van een interactieve spiegel en een webapplicatie.
                        Deze spiegel is een module welke kan worden geplaatst in de CENT-R. Het hoofddoel van de
                        beleving is
                        dat jongeren de kans krijgen om zelf een prikkelende omgeving te creëren.</p>
                    <p>Het subdoel is dat de gemeente inzicht verkrijgt in wat jongeren graag zouden willen toevoegen
                        aan
                        hun leefomgeving.</p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Om een ontwerp van je omgeving te maken moet je eerst een QR code op een lantaarnpaal
                            scannen.
                            Hierna wordt je doorverwezen naar het start scherm. Ontwerpen kunnen alleen op mobiele
                            apparaten
                            gemaakt worden.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Vind een slimme lantaarnpaal in je wijk en scan de
                                QR
                                code
                            </li>
                            <li><i class="ri-check-double-line"></i> Kies een thema en voeg elementen toe aan de foto
                                van de
                                omgeving
                            </li>
                            <li><i class="ri-check-double-line"></i> Stuur je ontwerp op en maak kans dat jou ontwerp
                                gerealiseerd wordt
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Wilt u meer weten over de digitalisatie van de stad Rotterdam en wat het idee is van de
                            slimme
                            lantaarnpaalen?
                            Navigeer met de knop hieronder naar de officele website van CENT-R voor meer informatie.
                        </p>
                        <a href="https://www.cent-r.com/" target="_blank" class="btn-learn-more">CENT-R</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Rotterdam</h2>
                    <p>Zoek hier voor een lantaarnpaal in uw omgeving?</p>
                </div>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 350px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12399.221720320342!2d4.466755228973798!3d51.92816506424046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c434a5bc629449%3A0xb4834251ce273735!2sRotterdam%20Centraal!5e0!3m2!1snl!2snl!4v1633881357653!5m2!1snl!2snl"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="container">
            <h3>MiRotterdam</h3>
            <p>Bekijk onze social media voor updates</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
{% endblock %}