{% extends 'layout.twig' %}

{% block body %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
                    <h1 class="logo me-auto me-lg-0"><a href="index.html">MiRotterdam</a></h1>
                    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto" href="#">Admin</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#" class="get-started-btn scrollto">De gemeente</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>MiRotterdam - Gemeente project</h1>
                    <h2>Je leeftomgeving verbeteren door deze zelf te ontwerpen</h2>
                    <a href="#about" class="play-btn mb-4"></a>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Het project</h2>
                    <p>MIRotterdam is een beleving ontworpen voor jongeren van 12 tot 18 in Reyeroord. Het concept bestaat uit een combinatie van een interactieve spiegel en een webapplicatie.
                        Deze spiegel is een module welke kan worden geplaatst in de CENT-R. Het hoofddoel van de beleving is dat jongeren de kans krijgen om zelf een prikkelende omgeving te creëren.</p>
                    <p>Het subdoel is dat de gemeente inzicht verkrijgt in wat jongeren graag zouden willen toevoegen aan hun leefomgeving.</p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Om een ontwerp van je omgeving te maken moet je eerst een QR code op een lantaarnpaal scannen. Hierna wordt je doorverwezen naar het start scherm. Ontwerpen kunnen alleen op mobiele apparaten gemaakt worden.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Vind een slimme lantaarnpaal in je wijk en scan de QR code</li>
                            <li><i class="ri-check-double-line"></i> Kies een thema en voeg elementen toe aan de foto van de omgeving</li>
                            <li><i class="ri-check-double-line"></i> Stuur je ontwerp op en maak kans dat jou ontwerp gerealiseerd wordt</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Wilt u meer weten over de digitalisatie van de stad Rotterdam en wat het idee is van de slimme lantaarnpaalen?
                            Navigeer met de knop hieronder naar de officele website van CENT-R voor meer informatie.
                        </p>
                        <a href="https://www.cent-r.com/" target="_blank"  class="btn-learn-more">CENT-R</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Rotterdam</h2>
                    <p>Zoek hier voor een lantaarnpaal in uw omgeving?</p>
                </div>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12399.221720320342!2d4.466755228973798!3d51.92816506424046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c434a5bc629449%3A0xb4834251ce273735!2sRotterdam%20Centraal!5e0!3m2!1snl!2snl!4v1633881357653!5m2!1snl!2snl" frameborder="0" allowfullscreen></iframe>
            </div>

            <!-- <div class="container">
              <div class="row mt-5">

                <div class="col-lg-4">
                  <div class="info">
                    <div class="address">
                      <i class="ri-map-pin-line"></i>
                      <h4>Location:</h4>
                      <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                      <i class="ri-mail-line"></i>
                      <h4>Email:</h4>
                      <p>info@example.com</p>
                    </div>

                    <div class="phone">
                      <i class="ri-phone-line"></i>
                      <h4>Call:</h4>
                      <p>+1 5589 55488 55s</p>
                    </div>
                  </div> -->
            <!-- </div>col -->

            <!-- form -->
            <!-- <div class="col-lg-8 mt-5 mt-lg-0">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div> -->
            <!-- </div>row -->
            <!-- </div> container -->
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>MiRotterdam</h3>
            <p>Bekijk onze social media voor updates</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                <!-- &copy; Copyright <strong><span>Websitejan</span></strong> -->
            </div>
            <div class="credits">
                Designed by <a href="https://websitejan.nl/">Websitejan.nl</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/vendor/purecounter/purecounter.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/scripts/main.js"></script>
    <script src="/scripts/custom.js"></script>
{% endblock %}