{% extends 'base/layout.twig' %}

{% block body %}
    <header id="header" class="fixed-top "></header>

    <!-- Div with location and play-button to start experience -->
    <div id="herobox">
        <section id="hero" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <h1>MiRotterdam</h1>
                    <h2>Locatie: <i id="location-name"></i></h2>
                    <h2>Begin met ontwerpen via de knop hieronder!</h2>
                    <button id="playbtn" class="play-btn mb-4"></button>

                </div>
            </div>
        </section>
    </div>

    <!-- Div with the pictures and text to inspire yourself -->
    <div id="about" class="about d-none">
        <div class="container">
            <div class="section-title"><h2>Inspireer jezelf!<img src="/assets/img/MIR.png" align="right" width="45" height="66" alt=""></h2></div>
            <div class="row content">
                <div class="swiper">
                    {# <h2>Inspireer jezelf!<img src="MIR.png" align="right" width="45" height="66"></h2> #}

                    <hr align="left" style="width: 30%; height: 5px; background: #295c24">
                    <br>
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <h2>Kijk om je heen</h2>
                            <img src="/assets/img/kijken.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <h2>Luister naar je omgeving</h2>
                            <img src="/assets/img/luister.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <h2>Geïnspireerd?</h2>
                            <img src="/assets/img/inspiratie.jpg" alt="">
                            <button id="design-maker-button" class="submit-design-button">Begin nu met ontwerpen!
                            </button>
                        </div>


                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script type="module" src="scripts/intro-page.js"></script>

    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters


            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    </script>
{% endblock %}
