{% extends 'base/layout.twig' %}

{% block body %}
    <header id="header" class="fixed-top "></header>

    <div id="herobox">
        <section id="hero" class="d-flex flex-column justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <h1>MiRotterdam</h1>
                    <h2><i id="plaatsnaam"></i></h2>
                    <h2>Begin met ontwerpen via de knop hieronder!</h2>
                    <button id="playbtn" onclick="showAbout()" class="play-btn mb-4"></button>
                </div>
            </div>
        </section>
    </div>

    <section id="about" class="about" style="display: none">
        <div class="container">
            <div class="section-title"><h2>Inspireer jezelf!</h2></div>
            <div class="row content">

                <div id="kijkendiv" class="verhaallijn">
                    <h2>Kijk om je heen </h2>
                    <div id="verhaalimg" class="kijken"></div>
                    <button onclick="kijkenBtn()" class="btn-learn-more">Volgende</button>
                </div>

                <div id="luisterdiv" class="verhaallijn" style="display: none">
                    <h2>Luister naar de omgeving</h2>
                    <div id="verhaalimg" class="luisteren"></div>
                    <button onclick="luisterBtn()" class="btn-learn-more">Volgende</button>
                </div>

                <div id="inspireerdiv" class="verhaallijn" style="display: none">
                    <h2>Geinspireerd?</h2>
                    <div id="verhaalimg" class="inspiratie"></div>
                    {# <h3>Weet je al wat je aan deze omgeving zou willen toevoegen? </h3>#}
                    <button id="design-maker-button" href="#design" class="btn-thema-next">
                        Begin nu met ontwerpen!
                    </button>
                </div>

            </div>
        </div>
    </section>

    {# scripts #}
    <script src="scripts/intro-storyline.js"></script>
{% endblock %}