{% extends 'base/layout.twig' %}

{% block body %}
    <div class="container h-100" id="container"></div>

    <script type="module" src="scripts/admin/designs-overview/DesignsOverview.js"></script>
{% endblock %}