/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 1.1rem;
}

a {
  color: #009961;
  text-decoration: none;

  &:hover {
    color: #00cc81;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #009961;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009961;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;

  i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }

  &:hover {
    background: #00c27b;
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &.header-scrolled, &.header-inner-pages {
    background: rgba(40, 40, 40, 0.9);
  }

  .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;

    a {
      color: #fff;
    }

    img {
      max-height: 40px;
    }
  }
}

@media (max-width: 731px) {
  #header {
    display: none;
  }
}

@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}

/* Get Started Button */

.get-started-btn {
  margin-left: 25px;
  background: #009961;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;

  &:hover {
    background: #00b371;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/

.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    position: relative;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
    margin: 0 12px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 3px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;

    i, &:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    &:hover:before {
      visibility: visible;
      width: 100%;
    }
  }

  > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #009961;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
  }

  li:hover > a:before, .active:before {
    visibility: visible;
    width: 100%;
  }

  a:hover {
    color: #fff;
  }

  .active {
    color: #fff;

    &:focus {
      color: #fff;
    }
  }

  li:hover > a {
    color: #fff;
  }

  .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid #009961;

    li {
      min-width: 200px;
    }

    a {
      padding: 10px 20px;
      font-size: 14px;
      text-transform: none;
      font-weight: 500;
      color: #282828;

      i {
        font-size: 12px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* #herobox{
  height: 100%;
  visibility: visible;
}
#herobox.hidden {
  visibility:hidden;
  height:0px;
} */

#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/hero-bg5.jpg") top center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    padding-top: 72px;
    position: relative;
    text-align: center;
  }

  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .play-btn {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 100;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation: pulsate-btn 3s;
      animation: pulsate-btn 3s;

      /*-webkit-animation-direction: forwards;*/
      /*animation-direction: forwards;*/
      /*-webkit-animation-iteration-count: infinite;*/
      /*animation-iteration-count: infinite;*/
      /*-webkit-animation-timing-function: steps;*/
      /*animation-timing-function: steps;*/
      opacity: 1;
      border-radius: 50%;
      border: 5px solid rgba(0, 153, 97, 0.7);
      top: -15%;
      left: -15%;
      background: rgba(198, 16, 0, 0);
    }

    &:hover {
      &::after {
        border-left: 15px solid #009961;
        transform: scale(20);
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        -webkit-animation: none;
        animation: none;
        border-radius: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 65px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #8fffd6;
}

.section-title {
  padding-bottom: 30px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #009961;
      bottom: 0;
      left: 0;
    }
  }

  p {
    margin-bottom: 0;
    color: #444444;
  }
}

.stepone {
  width: 100%;
}

/*--------------------------------------------------------------
# Section divider
--------------------------------------------------------------*/

.wrapper {
  padding-bottom: 90px;
}

/* .divider{
	position: relative;
	margin-top: 90px;
	height: 1px;
}
.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
} */

/*--------------------------------------------------------------
# About verhaallijn
--------------------------------------------------------------*/

#about {
  height: 100%;
  padding: 30px 0;
}

.verhaallijn {
  margin: auto;
  width: 65%;
  text-align: center;

  h2 {
    font-weight: 1000;
    font-size: 25px;
  }
}

#verhaalimg {
  width: 100%;
  height: 270px;
  background-size: cover;
  position: relative;
  margin-bottom: 36px;
}

.kijken {
  background: url("../assets/img/kijken.jpg") top center;
}

.luisteren {
  background: url("../assets/img/luister.jpg") top center;
}

.inspiratie {
  background: url("../assets/img/inspiratie.jpg") top center;
  margin: 0;
}

.about {
  .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #009961;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #009961;
  }

  .content .btn-learn-more:hover {
    background: #009961;
    color: #fff;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# thema
--------------------------------------------------------------*/

/* .thema .icon-box:hover > .show{
  height:85px;
  transition:0.1s;
  -webkit-transition:0.1s;
  visibility: visible;
} */

.thema .icon-box:hover h4 a {
  color: #009961;
}

.btn-thema-next {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #fff;
  background: #009961;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #009961;

  &:hover {
    background: #fff;
    color: #009961;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# Design
--------------------------------------------------------------*/

#design {
  visibility: visible;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  height: 100%;
  padding: 0;
  overflow: hidden;

  &.hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.gradient {
  height: 40px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.08), transparent);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent);
  }
}

.contact {
  width: 90%;
  margin: auto;
}

.ontwerp {
  background-color: black;
}

.contact {
  .php-email-form #loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;

    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid #18d26e;
      border-top-color: #eee;
      -webkit-animation: animate-loading 1s linear infinite;
      animation: animate-loading 1s linear infinite;
    }
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.design-preview {
  width: 100%;
  height: 800px !important;
  background-size: cover;
  background-repeat: no-repeat;

  /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
  border-radius: 8px;
}

.contactlabel {
  padding-top: 20px;

  label {
    margin-bottom: .5rem;
  }
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 768px) {
  #footer {
    display: none;
  }
}

@media (min-width: 769px) {
  #footer {
    background: #0f0f0f;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;

    h3 {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      position: relative;
      font-family: "Poppins", sans-serif;
      padding: 0;
      margin: 0 0 15px 0;
    }

    p {
      font-size: 15px;
      font-style: italic;
      padding: 0;
      margin: 0 0 40px 0;
    }

    .social-links {
      margin: 0 0 40px 0;

      a {
        font-size: 18px;
        display: inline-block;
        background: #009961;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;

        &:hover {
          background: #00b371;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    .copyright {
      margin: 0 0 5px 0;
    }

    .credits {
      font-size: 13px;

      a {
        color: #00b371;
        transition: 0.3s;

        &:hover {
          color: #009961;
        }
      }
    }
  }
}