body.design-maker {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elements-menu-container {
  //display: grid;
  //grid-template-columns: 1fr 1fr;

  position: absolute;
  left: -125%;
  height: 100%;
  width: 85%;
  border-right: 2px solid black;
  border-left: none;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: rgba(144, 238, 144, 0.95);
  //-webkit-box-shadow: 50px 5px 15px 5px rgba(0,0,0,0.5);
  //box-shadow: 50px 5px 15px 5px rgba(0,0,0,0.5);

  h2 {
    font-size: 1.7em;
    padding-left: 30px;
    font-family: Lato, sans-serif;
    margin-bottom: 0.5em;
  }

  // style for button
  //.close-elements-menu {
  //  width: 50px;
  //  height: 45px;
  //  justify-self: right;
  //  align-self: center;
  //  margin-right: 10%;
  //  background-color: whitesmoke;
  //  border: 2px solid rgba(0, 0, 0, 0.7);
  //  border-radius: 5px;
  //  background-image: url("../assets/icons/close.png");
  //  background-position: center;
  //  background-size: 67%;
  //  background-repeat: no-repeat;
  //}

  .elements-menu {
    //grid-column: 1/3;
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;

    img {
      width: 100%;
      max-height: 125px;
      object-fit: scale-down;
    }
  }
}

.canvas {
  height: 93%;
  width: 100%;
  overflow: visible;
  padding: 0;
  background-size: cover;
  background-position: center;

  img {
    box-sizing: content-box;
    padding: 10px;
    position: absolute;

    &.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px;
    }
  }
}

.options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 7%;
  background-color: #65a765;
  border-top: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  box-sizing: border-box;
}

.option-button {
  height: 100%;
  width: 20%;
  margin: 0 3%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
  border-top: none;
  background-color: #5f9c5f;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;

  &.elements-menu-button {
    background-image: url("../assets/icons/add.png");
  }

  &.menu-button {
    background-image: url("../assets/icons/menu.png");
  }

  &.ok-button {
    background-image: url("../assets/icons/ok.png");
  }
}

.slider {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  display: none;
  position: absolute;
  right: -10%;
  margin: 0 auto;
  bottom: 50%;
  z-index: 1;
}