html, body {
  height: 100%; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 1.1rem; }

a {
  color: #009961;
  text-decoration: none; }
  a:hover {
    color: #00cc81;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff; }
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #009961;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite; }

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009961;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s; }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0; }
  .back-to-top:hover {
    background: #00c27b;
    color: #fff; }
  .back-to-top.active {
    visibility: visible;
    opacity: 1; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  #header.header-scrolled, #header.header-inner-pages {
    background: rgba(40, 40, 40, 0.9); }
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px; }
    #header .logo a {
      color: #fff; }
    #header .logo img {
      max-height: 40px; }

@media (max-width: 731px) {
  #header {
    display: none; } }

@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0; } }

/* Get Started Button */
.get-started-btn {
  margin-left: 25px;
  background: #009961;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block; }
  .get-started-btn:hover {
    background: #00b371;
    color: #fff; }

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px; } }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0; }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center; }
  .navbar li {
    position: relative; }
  .navbar > ul > li {
    position: relative;
    white-space: nowrap;
    margin: 0 12px; }
  .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 3px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative; }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px; }
    .navbar a:hover:before {
      visibility: visible;
      width: 100%; }
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #009961;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease-in-out 0s; }
  .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 100%; }
  .navbar a:hover {
    color: #fff; }
  .navbar .active {
    color: #fff; }
    .navbar .active:focus {
      color: #fff; }
  .navbar li:hover > a {
    color: #fff; }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid #009961; }
    .navbar .dropdown ul li {
      min-width: 200px; }
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 14px;
      text-transform: none;
      font-weight: 500;
      color: #282828; }
      .navbar .dropdown ul a i {
        font-size: 12px; }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* #herobox{
  height: 100%;
  visibility: visible;
}
#herobox.hidden {
  visibility:hidden;
  height:0px;
} */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/hero-bg5.jpg") top center;
  background-size: cover;
  position: relative; }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; }
  #hero .container {
    padding-top: 72px;
    position: relative;
    text-align: center; }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff; }
  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 24px; }
  #hero .play-btn {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative; }
    #hero .play-btn::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 100;
      transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    #hero .play-btn::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation: pulsate-btn 3s;
      animation: pulsate-btn 3s;
      /*-webkit-animation-direction: forwards;*/
      /*animation-direction: forwards;*/
      /*-webkit-animation-iteration-count: infinite;*/
      /*animation-iteration-count: infinite;*/
      /*-webkit-animation-timing-function: steps;*/
      /*animation-timing-function: steps;*/
      opacity: 1;
      border-radius: 50%;
      border: 5px solid rgba(0, 153, 97, 0.7);
      top: -15%;
      left: -15%;
      background: rgba(198, 16, 0, 0); }
    #hero .play-btn:hover::after {
      border-left: 15px solid #009961;
      transform: scale(20); }
    #hero .play-btn:hover::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-40%) translateY(-50%);
      width: 0;
      height: 0;
      border: none;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #fff;
      z-index: 200;
      -webkit-animation: none;
      animation: none;
      border-radius: 0; }

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; } }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px; } }

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 65px 0;
  overflow: hidden; }

.section-bg {
  background-color: #8fffd6; }

.section-title {
  padding-bottom: 30px; }
  .section-title h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative; }
    .section-title h1::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #009961;
      bottom: 0;
      left: 0; }
  .section-title p {
    margin-bottom: 0;
    color: #444444; }

.stepone {
  width: 100%; }

/*--------------------------------------------------------------
# Section divider
--------------------------------------------------------------*/
.wrapper {
  padding-bottom: 90px; }

/* .divider{
	position: relative;
	margin-top: 90px;
	height: 1px;
}
.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
} */
/*--------------------------------------------------------------
# About verhaallijn
--------------------------------------------------------------*/
#about {
  height: 100%;
  padding: 30px 0; }

.verhaallijn {
  margin: auto;
  width: 65%;
  text-align: center; }
  .verhaallijn h2 {
    font-weight: 1000;
    font-size: 25px; }

.swiper {
  height: 720px; }

.swiper-slide {
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center; }
  .swiper-slide img {
    width: 100%;
    margin: 15% 0; }
  .swiper-slide button {
    width: 75%; }
  .swiper-slide h2 {
    text-align: center;
    font-family: Lato, sans-serif; }

#verhaalimg {
  width: 100%;
  height: 270px;
  background-size: cover;
  position: relative;
  margin-bottom: 36px; }

.kijken {
  background: url("../assets/img/kijken.jpg") top center; }

.luisteren {
  background: url("../assets/img/luister.jpg") top center; }

.inspiratie {
  background: url("../assets/img/inspiratie.jpg") top center;
  margin: 0; }

.about .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #009961;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #009961; }

.about .content .btn-learn-more:hover {
  background: #009961;
  color: #fff;
  text-decoration: none; }

/*--------------------------------------------------------------
# thema
--------------------------------------------------------------*/
/* .thema .icon-box:hover > .show{
  height:85px;
  transition:0.1s;
  -webkit-transition:0.1s;
  visibility: visible;
} */
.thema .icon-box:hover h4 a {
  color: #009961; }

.submit-design-button {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #fff;
  background: #009961;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #009961; }
  .submit-design-button:hover {
    background: #fff;
    color: #009961;
    text-decoration: none; }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.gradient {
  height: 40px;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse farthest-side at top center, rgba(0, 0, 0, 0.08), transparent); }
  .gradient:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02), transparent); }

.contact {
  width: 90%;
  margin: auto; }

.ontwerp {
  background-color: black; }

.contact .php-email-form #loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px; }
  .contact .php-email-form #loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite; }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.design-preview {
  width: 100%;
  height: 800px !important;
  background-size: cover;
  background-repeat: no-repeat;
  /*box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);*/
  border-radius: 8px; }

.contactlabel {
  padding-top: 20px; }
  .contactlabel label {
    margin-bottom: .5rem; }

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 768px) {
  #footer {
    display: none; } }

@media (min-width: 769px) {
  #footer {
    background: #0f0f0f;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0; }
    #footer h3 {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      position: relative;
      font-family: "Poppins", sans-serif;
      padding: 0;
      margin: 0 0 15px 0; }
    #footer p {
      font-size: 15px;
      font-style: italic;
      padding: 0;
      margin: 0 0 40px 0; }
    #footer .social-links {
      margin: 0 0 40px 0; }
      #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #009961;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s; }
        #footer .social-links a:hover {
          background: #00b371;
          color: #fff;
          text-decoration: none; }
    #footer .copyright {
      margin: 0 0 5px 0; }
    #footer .credits {
      font-size: 13px; }
      #footer .credits a {
        color: #00b371;
        transition: 0.3s; }
        #footer .credits a:hover {
          color: #009961; } }

body.design-maker {
  background-color: #303030;
  display: flex;
  align-items: center;
  flex-direction: column; }
  body.design-maker h2 {
    font-size: 1.25rem;
    font-family: Lato, sans-serif;
    margin: 0.5em 0 0.5em 5%;
    color: black; }

.element-editor {
  background-color: lightgreen;
  width: 100%;
  min-height: 200px;
  height: 25%;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
  .element-editor .menu-hint {
    margin: 2.5% 5%;
    font-size: 1.25rem;
    font-weight: bold; }
  .element-editor .editor-attribute-choices {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    display: flex; }
    .element-editor .editor-attribute-choices button {
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 5px;
      margin-top: 5px;
      margin-left: 5%;
      background: none; }
      .element-editor .editor-attribute-choices button.highlighted {
        color: white;
        background-color: rgba(0, 0, 0, 0.3); }

.attribute-editor {
  width: 100%;
  height: 100%;
  margin-top: 5px; }
  .attribute-editor .scale-slider-container {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center; }
    .attribute-editor .scale-slider-container.shown {
      display: flex; }
  .attribute-editor > div {
    height: 100%; }
  .attribute-editor .color-choices-container {
    overflow: auto;
    display: none;
    margin-bottom: 5px; }
  .attribute-editor .color-choices-container.shown {
    display: flex; }
  .attribute-editor .color-choices-container > button {
    min-width: 75px;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    margin: 0 5px; }
  .attribute-editor .color-button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    .attribute-editor .color-button.blue {
      background-color: #003049; }
    .attribute-editor .color-button.red {
      background-color: #D62828; }
    .attribute-editor .color-button.orange {
      background-color: #F77F00; }
    .attribute-editor .color-button.lavender {
      background-color: #CFBFF7; }
    .attribute-editor .color-button.purple {
      background-color: #8B80F9; }
    .attribute-editor .color-button.green {
      background-color: #4D8B31; }
    .attribute-editor .color-button.yellow {
      background-color: #FFC800; }
  .attribute-editor .scale-slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s; }
    .attribute-editor .scale-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer; }
    .attribute-editor .scale-slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer; }

.bottom-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 50px;
  background-color: #65a765;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  box-sizing: border-box; }
  .bottom-menu button {
    height: 100%;
    width: 25%;
    margin: 0 3%;
    border: none;
    background-color: #5f9c5f;
    background-size: 65%;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat; }
    .bottom-menu button:disabled svg {
      fill: #6c757d; }
    .bottom-menu button svg {
      width: 2.25em;
      color: black; }

.canvas {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .canvas img.element {
    padding: 10px;
    position: absolute; }
    .canvas img.element.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px; }
    .canvas img.element.mirrored {
      transform: scaleX(-1); }

.elements-menu-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: none;
  box-sizing: border-box;
  z-index: 9999;
  display: flex;
  transition: left .25s; }
  .elements-menu-container.hidden {
    left: -100%; }
  .elements-menu-container .blur-out {
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start; }
    .elements-menu-container .blur-out button {
      margin-top: 5vh;
      border: none;
      background: none; }
    .elements-menu-container .blur-out i {
      font-size: 2.75em;
      color: white; }
  .elements-menu-container .theme-picker {
    width: 85%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    background-color: lightgreen;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden; }
    .elements-menu-container .theme-picker span {
      font-size: 1.5rem;
      margin-bottom: 10%;
      color: #191970; }
  .elements-menu-container .theme-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 10% 0; }
    .elements-menu-container .theme-container button {
      text-align: center;
      font-family: Lato, sans-serif;
      font-size: 1.25em;
      align-self: end;
      width: 80%;
      justify-self: center;
      margin-top: 2.5%;
      position: sticky;
      bottom: 5%; }
  .elements-menu-container img {
    width: 100%;
    max-height: 125px;
    object-fit: scale-down; }

.theme-menu-dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 0.25em; }

footer {
  border-top: 1px solid #6c757d;
  text-align: center; }

html {
  height: 100%; }

body.login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }

.form-signin .checkbox {
  font-weight: 400; }

.form-signin .form-floating:focus-within {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

body.admin {
  height: 100%;
  display: flex; }

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: -8%; }

.divcards {
  text-align: center;
  margin-top: 100px; }

.design-container {
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; }
  .design-container .canvas {
    width: 100%;
    height: 700px; }

.card-img-wrapper {
  max-height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .card-img-wrapper.sm {
    max-height: 250px; }
    .card-img-wrapper.sm img {
      margin: 75px 0;
      width: auto;
      max-height: 200px;
      max-width: 75%;
      height: 100%; }
  .card-img-wrapper img {
    width: 100%;
    height: 100%; }

/* Popup property */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180, 178, 178, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: 250ms transform;
  padding: 50px; }
  #popup #popup-box {
    margin-left: 20px; }

/*# sourceMappingURL=style.css.map */