html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 14px "Open Sans", Arial, sans-serif; }

body.design-maker {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  body.design-maker h2 {
    font-size: 1.7em;
    padding-left: 30px;
    font-family: Lato, sans-serif;
    margin-bottom: 0.5em; }

.element-editor {
  position: absolute;
  background-color: rgba(144, 238, 144, 0.85);
  width: 100%;
  height: 25%;
  top: -25%;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3); }
  .element-editor .editor-attribute-choices {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    display: flex; }
    .element-editor .editor-attribute-choices span {
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 5px;
      margin-top: 5px;
      margin-left: 5%; }
      .element-editor .editor-attribute-choices span.highlighted {
        color: white;
        background-color: rgba(0, 0, 0, 0.3); }

.elements-menu-container {
  position: absolute;
  left: -125%;
  height: 100%;
  width: 85%;
  border-right: 2px solid black;
  border-left: none;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 9999;
  background-color: rgba(144, 238, 144, 0.95); }
  .elements-menu-container .elements-menu {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px; }
    .elements-menu-container .elements-menu img {
      width: 100%;
      max-height: 125px;
      object-fit: scale-down; }

.canvas {
  height: 93%;
  width: 100%;
  overflow: visible;
  padding: 0;
  background-size: cover;
  background-position: center; }
  .canvas img {
    box-sizing: content-box;
    padding: 10px;
    position: absolute; }
    .canvas img.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px; }

.options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 7%;
  background-color: #65a765;
  border-top: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  box-sizing: border-box; }

.option-button {
  height: 100%;
  width: 20%;
  margin: 0 3%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
  border-top: none;
  background-color: #5f9c5f;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat; }
  .option-button.elements-menu-button {
    background-image: url("../assets/icons/add.png"); }
  .option-button.attribute-menu-button {
    background-image: url("../assets/icons/menu.png"); }
  .option-button.ok-button {
    background-image: url("../assets/icons/ok.png"); }
  .option-button:disabled {
    background-color: #75816b; }

.slider {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  display: none;
  position: absolute;
  right: -10%;
  margin: 0 auto;
  bottom: 50%;
  z-index: 1; }

/*# sourceMappingURL=style.css.map */