html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body.design-maker {
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  body.design-maker h2 {
    font-size: 1.7em;
    padding-left: 30px;
    font-family: Lato, sans-serif;
    margin-bottom: 0.5em; }

.element-editor {
  position: absolute;
  background-color: rgba(144, 238, 144, 0.85);
  width: 100%;
  height: 25%;
  top: -25%;
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
  .element-editor .editor-attribute-choices {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    display: flex; }
    .element-editor .editor-attribute-choices span {
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 5px;
      margin-top: 5px;
      margin-left: 5%; }
      .element-editor .editor-attribute-choices span.highlighted {
        color: white;
        background-color: rgba(0, 0, 0, 0.3); }

.attribute-editor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  margin-top: 5px; }
  .attribute-editor .scale-slider-container {
    width: 75%;
    display: none; }
    .attribute-editor .scale-slider-container.shown {
      display: block; }
  .attribute-editor .color-choices-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    display: none; }
  .attribute-editor .color-choices-container.shown {
    display: grid; }
  .attribute-editor .color-choices-container > button {
    width: 75px;
    height: 75px;
    border: #202020 solid 1px;
    border-radius: 10px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; }
  .attribute-editor .color-button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%; }
    .attribute-editor .color-button.blue {
      background-color: #003049; }
    .attribute-editor .color-button.red {
      background-color: #D62828; }
    .attribute-editor .color-button.orange {
      background-color: #F77F00; }
    .attribute-editor .color-button.lavender {
      background-color: #CFBFF7; }
    .attribute-editor .color-button.purple {
      background-color: #8B80F9; }
    .attribute-editor .color-button.green {
      background-color: #4D8B31; }
    .attribute-editor .color-button.yellow {
      background-color: #FFC800; }

.elements-menu-container {
  position: absolute;
  left: -125%;
  height: 100%;
  width: 85%;
  border-right: 2px solid black;
  border-left: none;
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 9999;
  background-color: rgba(144, 238, 144, 0.95); }
  .elements-menu-container .elements-menu {
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px; }
    .elements-menu-container .elements-menu img {
      width: 100%;
      max-height: 125px;
      object-fit: scale-down; }

.canvas {
  height: 93%;
  width: 100%;
  overflow: visible;
  padding: 0;
  background-size: cover;
  background-position: center; }
  .canvas img {
    padding: 10px;
    position: absolute; }
    .canvas img.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px; }

.options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 7%;
  background-color: #65a765;
  border-top: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  box-sizing: border-box; }

.option-button {
  height: 100%;
  width: 20%;
  margin: 0 3%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
  border-top: none;
  background-color: #5f9c5f;
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat; }
  .option-button.elements-menu-button {
    background-image: url("../assets/icons/add.png"); }
  .option-button.delete-button {
    background-image: url("../assets/icons/trash.png"); }
  .option-button.ok-button {
    background-image: url("../assets/icons/ok.png"); }
  .option-button:disabled {
    background-color: #75816b; }

.scale-slider-label {
  width: 90%; }

.scale-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5% 0 auto;
  height: 15px;
  border-radius: 5px;
  background: whitesmoke;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s; }
  .scale-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer; }
  .scale-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */