@import "variables";

.canvas {
  width: 100%;

  img.canvas-background-image {
    width: 100%;
  }

  img.element {
    padding: 10px;
    position: absolute;

    &.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px;
    }
  }
}