.canvas {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  img.element {
    padding: 10px;
    position: absolute;

    &.selected {
      border: 5px solid rgba(135, 206, 250, 0.9);
      padding: 5px;
      border-radius: 20px;
    }

    &.mirrored {
      transform: scaleX(-1);
    }
  }
}