* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    z-index: 1;
}

.menu {
    display: none;
    z-index: 1;
    border: 5px solid black;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(144, 238, 144, 0.85);
    height: 95%;
    width: 85%;
    position: absolute;
    left: -100%;
}

.menu-button {
    z-index: 2;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: rgb(144, 238, 144);
    border: 1px solid black;
    padding: 5px 10px;
}

.menu::-webkit-scrollbar {
    width: 1em;
}

.menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.menu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.container {
    height: 90%;
    width: 90%;
    overflow: visible;
    padding: 0;
    position: relative;
    border: 5px solid black;
    background-image: url("../assets/bg-m.png");
    background-size: cover;
    background-position: center;
}

.container img {
    box-sizing: content-box;
    padding: 10px;
    position: absolute;
}

.container img.highlighted {
    border: 5px solid rgba(135, 206, 250, 0.9);
    padding: 5px;
    border-radius: 20px;
}

.menu img {
    margin: 10px;
    width: 25%;
    max-height: 100px;
    object-fit: scale-down;
}
